[core]
	editor = ddvim -f
	excludesfile = ~/.gitglobalignore
	pager = less -R -m -E -F -X
	whitespace = blank-at-eol,-blank-at-eof,space-before-tab,-indent-with-non-tab,-tab-in-indent,cr-at-eol
[user]
	name = Anthropohedron
	email = Anthropohedron@users.noreply.github.com
[status]
	showStash = true
[help]
	autocorrect = 30
[color]
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	pager = true
	showbranch = auto
	status = auto
	ui = auto
[color "diff"]
	old = red
	new = green
[color "status"]
	added = blue
	changed = green
	untracked = magenta
	updated = cyan
[pretty]
	terse = tformat:%Cred%h%Creset %C(green)%cI%Creset <%C(bold blue)%an%C(reset)> %C(bold black)%s%Creset
[alias]
	ignored = ls-files --others --ignored --exclude-standard
	tags = tag -l --format='%(refname)\t%(creatordate:iso8601)'
	confgrep = config --show-origin --get-regexp
	cur = rev-parse --abbrev-ref HEAD
	ff = !git rebase origin/$(git cur)
	pnew = !git push -u origin $(git cur)
	amend = commit --amend --no-edit
	subcheckout = !git submodule status | cut -c2- | awk '{ printf(\"(cd %s && git checkout %s)\\n\", $2, $1) }' | sh
	lol = log --graph --decorate --pretty=format:'%Cred%h%Creset -%C(cyan)%d%Creset %s %C(bold green)(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lola = !git lol --all
	log1 = !git log --pretty=terse "$1"'^..'"$1"
[push]
	default = matching
[url "ssh://github443/"]
	insteadOf = https://github.com/
